---
layout: default
comment: true
keywords: 前端
---
<div class="article article-post">
    <h2 class="title">{{ page.title }}</h2>
    <div class="info">
        <span class="info-title"><i class="icon-calendar"></i> Published: </span>
        <span class="info-date">{{ page.date | date_to_string }}</span>
        <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
        <span class="info-link"><a href="{{ site.url }}/categories.html#{{ page.category }}-ref" >{{ page.category }}</a></span>
    </div>
    {{ content }}
    
</div>
